@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #fead53;
  --text-dark: #333333;
  --text-light: #ffffff33;
  --extra-light: #f3f4f6;

  --max-width: 1300px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input::placeholder {
  color: var(--extra-light);
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("assets/bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: var(--max-width);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.nav__logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--extra-light);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav__links .link {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--extra-light);
  cursor: pointer;
  transition: 0.3s;
}

.nav__links .link:hover {
  color: var(--primary-color);
}

.search__box {
  padding: 0.5rem 0;
  border-bottom: 2px solid var(--extra-light);
}

.search__box input {
  color: var(--extra-light);
  background-color: transparent;
  outline: none;
  border: none;
}

.search__box i {
  color: var(--extra-light);
  font-size: 1.2rem;
  cursor: pointer;
}

.container {
  display: flex;
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem;
  padding-top: 100px;
  position: relative;
}

.container__left,
.container__right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container__left .content {
  max-width: 400px;
  display: grid;
  gap: 1rem;
}

.content h1 {
  font-size: 4rem;
  line-height: 4rem;
  color: var(--extra-light);
  font-weight: 700;
}

.content p {
  color: var(--extra-light);
}

.btns {
  display: flex;
  gap: 1rem;
}

.btns button {
  padding: 0.5rem 2rem;
  color: var(--extra-light);
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  border: 2px solid var(--extra-light);
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

button.read__more {
  background-color: var(--extra-light);
  color: var(--text-dark);
}

button.our__blogs:hover {
  background-color: var(--text-light);
}

.chevrons {
  display: flex;
  gap: 1rem;
}

.chevrons span {
  height: 40px;
  width: 40px;
  font-size: 1.5rem;
  color: var(--extra-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid var(--extra-light);
  cursor: pointer;
  transition: 0.3s;
}

.chevrons span:hover {
  background-color: var(--text-light);
}

.container__right {
  justify-content: flex-end;
}

form {
  width: 350px;
  display: grid;
  border-radius: 5px;
  background-color: var(--text-light);
  color: var(--extra-light);
}

form h4 {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 2rem;
}

.form__group {
  display: grid;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.form__group input {
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--extra-light);
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--extra-light);
}

form button {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--extra-light);
  cursor: pointer;
}

.bottom__tracker {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
}

.bottom__tracker span {
  display: inline-block;
  height: 4px;
  width: 100px;
  background-color: var(--text-light);
}

.bottom__tracker span:nth-child(2) {
  background-color: var(--extra-light);
}
